.b-dropdown__box{
  position: relative;
  z-index: 5;
  margin-bottom: 1vw;

  &.open{
    z-index: 6;
  }
}

.b-dropdown {
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: $regularColor;
  font-size: $fs18;
  line-height: $inputsHeight;
  background: #fff;
  padding: 0 1.2501vw;
  border-radius: $inputsHeight / 2;
  transform: rotate(-.7deg);

  .b-dropdown__label{
    position: absolute;
    top: 18px;
    left: 0;
    white-space: nowrap;
    color: rgba(0,0,0, .2);
    transform-origin: left top;
    transition: transform .25s, top .25s;
  }

  &.shifted{
    .b-dropdown__label{
      transform: scale(.65);
      top: 0;
    }
  }

  .b-dropdown__arrow{
    position: absolute;
    right: 1.5626vw;
    top: 54%;
    transform: translate(0, -50%);
    width: 0.625vw;
    height: 0.547vw;
    background: url("../i/i-dropdown-arrow.svg") no-repeat;
    background-size: 100% auto;
    transition: transform .25s;
  }

  &.b-dropdown__scroll{
    .b-dropdown__text{
      height: $inputsHeight;
    }
    .b-dropdown__sub{
      max-height: 260px;
      overflow-y: scroll;
      margin-top: 1px;

      li:first-child{
        border-top: none;
      }
    }
  }

  &.b-dropdown_open{
    z-index: 5;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .b-dropdown__arrow{
      transform: translate(0, -50%) rotate(180deg);
    }

    .b-dropdown__item{
      &.active{

      }
    }

    .b-dropdown__text{
      color: #aba0a0;
    }

    &.first-open{
      .b-dropdown__sub{
        opacity: 1;
        visibility: visible;
        height: auto;
        margin-top: $inputsHeight * -1;

        .b-dropdown__item:first-child{
          border-top: none;
        }
      }
    }
  }
}
.b-dropdown_open .b-dropdown__sub{
  opacity: 1;
  visibility: visible;
  height: auto;
}

.b-dropdown__sub {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  max-height: $lh24 * 4 + 1vw;
  border-top: none;
  background: #fff;
  border-bottom-left-radius: $inputsHeight / 2;
  border-bottom-right-radius: $inputsHeight / 2;
  box-shadow: 0 25px 30px rgba(94,84,62, .5);
  padding-bottom: 1vw;
  margin-top: -1px;
}

.b-dropdown__item,
.b-dropdown__text {
  display: block;
  background: transparent;
  color: $regularColor;
  transition: background .2s;
  cursor: pointer;
}

.b-dropdown__item{
  padding: 0 1.5626vw;
  line-height: $lh24;
  transition: color .25s, background .25s;

  &:hover{
    background: $redColor;
    color: #fff;
  }

  &:first-child{
    border-top: none;

    &.active{
      &+.b-dropdown__item{

      }
    }
  }
}

.b-dropdown__text {
  border: none;
  height: $inputsHeight;
  box-sizing: border-box;
  white-space: nowrap;
  position: relative;
  transition: color .25s, border-color .25s;
}

.b-dropdown > .b-dropdown__text
{
  overflow: hidden;
  padding-right: 18px;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {

  .b-dropdown{
    border-radius: 6vw;
    padding: 0 4.53vw;
    line-height: 7.73vw + 1.8vw;
    font-size: $fs14_mob;

    .b-dropdown__arrow{
      right: 4.53vw;
      width: 2.13vw;
      height: 1.87vw;
    }
  }

  .b-dropdown__sub{
    max-height: $lh24_mob * 4 + 2;
    border-bottom-right-radius: 6vw;
    border-bottom-left-radius: 6vw;
  }

  .b-dropdown__item{
    line-height: $lh24_mob;
    padding: 0 4.53vw;
  }

  .b-dropdown__text{
    height: 7.73vw + 1.8vw;
  }

}