body{
  min-width: 1024px;
  background: #1f97ca;
}

.b-stub{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../i/stub/bg.jpg") no-repeat center;
  background-size: cover;
  min-width: 1024px;

  *{
    z-index: 2;
  }

  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0,110,179, .45);
    opacity: .9;
  }

}

.b-stub__logo{
  position: absolute;
  top: 32px;
  left: 32px;
  width: 82px;
  height: 82px;
  background: url("../i/stub/i-logo.png") no-repeat;
  background-size: 100% auto;
}

.b-stub__heroes{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  padding-bottom: 90px;

  img{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 3%;
  }

  h1{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 40px;
    line-height: 60px;
    color: #cee7fd;
    text-transform: uppercase;
    white-space: nowrap;

    &:before,
    &:after{
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -3px;
      transform: translate(0, -50%);
      width: 200px;
      height: 26px;
      background: url("../i/stub/i-title-line.png") no-repeat;
      background-size: 100% auto;
    }

    &:before{
      right: 100%;
      margin-right: 10px;
    }

    &:after{
      left: 100%;
      margin-left: 10px;
      transform: translate(0, -50%) rotate(180deg);
    }
  }
}